body {
	margin: 0;
	font-family: sans-serif;
}

.app {
	background: url(background.png) center fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	display: flex;
	flex-direction: row;
}

canvas {
	border: 2px solid black;
	background-color: white;
}

#messages {
	margin: 8px;
	padding: 0;
	height: 100%;
	background-color: #eee;
	list-style: none;
	overflow-y: scroll;
}